@import "tailwindcss";

@theme {
  --font-family-cera-pro: var(--font-cera-pro);
  --font-family-cera-stencil: var(--font-cera-stencil);
  --color-primary: #0039a6;
  --color-secondary: #001E60;
  
}
